.videoFooter{
    position: relative;
    color: cyan;
    bottom: 80px;
    display: flex;
    margin-left: 10px;
   padding-bottom: 10px;
}
 
.videoFooter__record 
{
    animation: spinTheRecord infinite 5s linear;
   height: 50px;
   filter: invert(1);
    position: absolute;
    bottom: 80px;
    right: 0;
}
.videoFooter__icon {

    position: absolute;
   margin-left: -8px;
}
.videoFooter__text {
    padding-top: 7px;
    padding-bottom: 20%;
}

.videoFooter__ticker  > .ticker {
 height: fit-content;
 margin-left: 15px;
 width: 260%;
}
@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
   to {
       transform: rotate(360deg);
   } 
}


